@font-face {
    font-family: 'MyCustomFont';
    src: url('../fonts/cat.ttf') format('truetype');
}

body {
    height: 100vh;
    font-family: 'MyCustomFont', sans-serif;
    text-align: center;
    background-color: blanchedalmond;
    font-size: 1.6rem;
    margin: 0;
    overflow: hidden;
}

#countdown-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#level-button-box {
    display: flex;
    justify-content: center;
}

.level-button {
    width: 120px;
    height: 60px;
    background-color: rgb(34, 87, 22);
    font-size: 1.5rem;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin: 1rem;
}

.level-button:hover {
    border-color: black;
    box-shadow: 0px 4px 8px rgba(8, 8, 31, 0.992);
}

.level-button:disabled {
    background-color: gray;
    color: lightgray;
}

#game-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cat-image {
    width: 18rem;
}

/* Left cat positioning (Otis) */
#otis {
    margin-left: 2rem;
}

/* Right cat positioning (Eira) */
#eira {
    margin-right: 2rem;
    transform: scaleX(-1);
}

#puzzle-box {
    border: 2px solid red;
    max-width: 90%;
    display: flex;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    margin-bottom: -4rem;
}

#fireworks-container {
    border: 2px solid purple;
}